/* Estilos CSS para el blog post */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6c60d18a, #642143bf);
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover; 
}


/* Estilos para el header */
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header {
  animation: slideIn 1s ease;
}

.logo {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
header {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}


.post-content {
  margin-bottom: 20px;
  color: #555;
}

.post-date {
  color: #888;
  font-style: italic;
}

/* Estilos Flexbox */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

article {
  width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Agregamos la animación de background-color */
}


